
.img-container {

    &__top {   
        background-color: rgb(252,13,80);

        @include device-style(phone_landscape) {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__bottom {  
        background-color: rgb(59,201,215);

        @include device-style(phone_landscape) {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }


    &__top, &__bottom {
        padding: 1rem;

        @include device-style(phone_landscape) {
            position: relative;
            padding: 0;
            height: 12rem;
            width: 25rem;
        }

        @include device-style(tablet) {
            height: 22rem;
            width: 40rem;
        }
    }

    &__img { 
        width: 20rem;

        @include device-style(phone_landscape) {
            width: 17rem;
            @include position-center;
        }

        @include device-style(tablet) {
            width: 27rem;
        }
    }
}

.lists {
    color: white;
    padding-top: 5rem;

    @include device-style(phone_landscape) {
        position: relative;
        width: 40rem;
        margin-top: 1rem;
    }

    &__button {
        display: none;
        top: 0;
        right: 1rem;
        font-size: 4rem;
        cursor: pointer;

        @include device-style(phone_landscape) {
            display: block;
            position: absolute;
            height: 5rem;
            width: 5rem;
            z-index: 1;
        }
    }
}

.list {

    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    margin-left: 2rem;
    width: 34rem;

    @include device-style(tablet) {
        width: 40rem;
    }

    & li {
        display: inline-block;
        width: 11rem;
        margin: .5rem 0;

        @include device-style(tablet) {
            width: 20rem;
        }
    }

    & span {
        text-transform: none;
        font-variant: small-caps;
    }

    &__container {
        width: 36rem;
        margin: 3rem auto;
        font-family: 'Staatliches', cursive;
        font-size: 2rem;
        letter-spacing: .2rem;

        @include device-style(phone_landscape) {
            position: absolute;
            top: 0;
            left: 2rem;
            opacity: 0;
        }

        @include device-style(tablet) {
            width: 47rem;
            left: 4rem;
            font-size: 3rem;
        }
    }

    &__headline {
        
        border-bottom: 3px solid white;

        @include device-style(phone_landscape) {
            padding-top: 1rem;
        }

        @include device-style(tablet) {
            padding-top: 0;
        }
    }
}

.dev {
    padding-left: 2rem;
}

.languages {
    text-align: right;
    padding-right: 2rem;

    @include device-style(phone_landscape) {
       text-align: left;
       padding-right: 0;
       padding-left: 2rem;
    }
}

@include device-style(phone_landscape) {
    .list--selected {
        opacity: 1;
    }
}


.large-screen-wrapper {

    @include device-style(phone_landscape) {
        @include position-center;
        display: flex;
        width: 75%;
    }

    @include device-style(tablet) {
        width: 80%;
        justify-content: center;
    }
    
}