
.img-container {

    width: 100%;

    @include device-style(phone_portrait) {
        position: absolute;
        width: fit-content;
        top: 8rem;
        left: 6rem;
    }

    &__top {   
        background-color: rgb(252,13,80);

        @include device-style(phone_portrait) {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__bottom {  
        background-color: rgb(59,201,215);

        @include device-style(phone_portrait) {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }


    &__top, &__bottom {

        padding: 1rem;

        @include device-style(phone_portrait) {
            position: relative;
            padding: 0;
            height: 12rem;
            width: 25rem;
        }
    }

    &__img { 

        width: 20rem;

        @include device-style(phone_portrait) {
            width: 17rem;
            @include position-center;
        }
    }

    
}

.lists {
    color: white;
    padding-top: 5rem;

    @include device-style(phone_portrait) {
        position: absolute;
        padding-top: 0;
        height: 36rem;
        width: 36rem;
        top: 10rem;
        left: 34rem;
    }

    &__button {
        display: none;
        top: 2.5rem;
        right: 1rem;
        font-size: 4rem;
        cursor: pointer;

        @include device-style(phone_portrait) {
            display: block;
            position: absolute;
            height: 5rem;
            width: 5rem;
            z-index: 1;
        }
    }
}

.list {

    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    margin-left: 2rem;
    width: 34rem;

    & li {
        display: inline-block;
        width: 11rem;
        margin: .5rem 0;
    }

    & span {
        text-transform: none;
        font-variant: small-caps;
    }

    &__container {
        width: 36rem;
        margin: 3rem auto;
        font-family: 'Staatliches', cursive;
        font-size: 2rem;
        letter-spacing: .2rem;

        @include device-style(phone_portrait) {
            position: absolute;
            opacity: 0;
        }
    }

    &__headline {
        border-bottom: 3px solid white;
    }
}

.dev {
    padding-left: 2rem;
}

.languages {
    text-align: right;
    padding-right: 2rem;

    @include device-style(phone_portrait) {
       text-align: left;
       padding-right: 0;
       padding-left: 2rem;
    }
}

@include device-style(phone_portrait) {
    .list--selected {
        opacity: 1;
    }
}

