
.img-container {
    position: absolute;
    height: 8rem;
    width: 26.5rem;
    
    &--top {
        top: 15rem;
        left: 7rem;
        transform: skew(-45deg);
        background: linear-gradient(90deg, rgb(252, 13, 80) 87%, $background);

        @include device-style(phone_portrait) {
            top: 14rem;
        }

        & img {
            margin-left: -.5rem;
            height: 8rem;
            width: 22rem;
            transform: skew(45deg);
        }
    }

    &--bottom{
        top: 23rem;
        left: 7rem;
        background: linear-gradient(90deg, rgb(59, 201, 215) 87%, $background);
        transform: skew(45deg);

        @include device-style(phone_portrait) {
            top: 22rem;
        }
    
        & img {
            margin-top: 1rem;
            height: 6rem;
            width: 22rem;
            transform: skew(-45deg);
        }
    }
}

.list {
    width: 30rem;
    margin-left:2rem;
    color: white;

    &__container {
        position: absolute;
        left: 4rem;
        width: 32rem;

        @include device-style(phone_portrait) {
            opacity: 0;
        }
    }

    &__headline {
        color: white;
        font-family: 'Staatliches', cursive;
        font-size: 2.5rem;
        letter-spacing: 2px;
        border-bottom: white 3px solid;
    }

    & li {
        display: inline-block;
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;
        width: 9rem;
        font-size: 2rem;
        margin: 1rem 1rem 1rem 0;
        
        & span {
            text-transform: none;
            font-variant: small-caps;
        }
    }

    &__button {
        position: absolute;
        display: inline-block;
        top: 15.5rem;
        right: 5.5rem;
        color: white;
        display: none;
        font-size: 3rem;

        @include device-style(phone_portrait) {
            display: inline-block;
        }
    }
}

.dev {
    top: 34.5rem;

    @include device-style(phone_portrait) {
        top: 16rem;
        left: 36rem;
    }

    &__headline {
        padding-left: 2rem;
    }
}

.languages {
    top: 50rem;

    @include device-style(phone_portrait) {
        top: 16rem;
        left: 36rem;
    }

    &__headline {
        text-align: right;
        padding-right: 2rem;

        @include device-style(phone_portrait) {
            text-align: left;
            padding-right: 0;
            padding-left: 2rem;
        }
    }
}

@include device-style(phone_portrait) {
    .list--selected {
        opacity: 1;
    }
}

