.projects {
    
    &__container {
        height: 40rem;
        width: 100%;
        @include position-center;

        @include device-style(tablet) {
            width: 80%;
        }

        @include device-style(desktop) {
            height: 70rem;
        }

        & img {
            @include position-center;
            height: 25rem;
            width: 70%;

            @include device-style(tablet) {
                height: 45rem;
                width: 75%;
            }

            @include device-style(desktop) {
                height: 55rem;
                width: 75%;
            }
        }

        & h1 {
            position: absolute;
            text-align: center;
            color: white;
            font-size: 3.5rem;
            font-family: 'Staatliches', cursive;
            letter-spacing: 2px;
            bottom: 0;
            width: 100%;

            @include device-style(desktop) {
                font-size: 6rem;
            }
        }
    }
}

.left-arrow, .right-arrow {
    color: white;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: .5rem;;
}

.right-arrow {
    right: .5rem;
}






